.parent {
    background-color: #000;
    padding-left: 4rem;
    padding-right: 4rem
}

.small-head-prnt {
    padding-top: 3rem;
    width: 33%;
    padding-bottom: 3rem;
}

.timep {
    padding-bottom: 3rem;
}

.p-color {
    color: #9279FF;
    font-family: DM Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.headtext {
    padding-top: 2rem;
    width: 65%
}

.tag {
    color: #FFF;
    font-family: DM Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.smll {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.timedis {
    color: #D37556;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.scan-prnt {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 3.25rem;
    border-radius: 3.75rem;
    background: #9279FF;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.strt {
    color: #FFF;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

.width45 {
    width: 48%;
}

.dotes {
    width: 100%;
}


.scanner {
    top: 35%;
    position: absolute;
    left: 37%;
    width: 25%;
}

.logo-parent {
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 9.37725rem;
    height: 3.45475rem;

}

.width55 {
    width: 55%;
    padding-bottom: 1rem;
}

.logo-parent>img {
    width: 100%;
}




.scannerone {
    width: 25%;
    position: absolute;
    top: 38%;
    left: 38%;
}


.merge-parent {
    position: relative;
}

.lineprnt {
    top: 0;
    position: absolute;
    left: 5% !important;
    width: 90% !important;
    /* width: 100%; */
    animation: InUp 4s ease-in-out infinite;
}

img.lineclass {
    width: 100%;
}

.scan-prnt {
    cursor: pointer;
}
img.landingscaner {
    width: 100%;
    position: relative;
}

img.dotessse{
    animation: way 5s infinite ease-in-out;
}

@media screen and (max-width:768px) {

    .parent {
        background-color: #000;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .gap30 {
        flex-direction: column;
    }

    .width55 {
        width: 100%;
        text-align: center;
    }

    .headtext {
        width: 100%;
    }

    .small-head-prnt {
        padding-top: 1rem;
        width: 100%;
        padding-bottom: 0rem;
    }

    .headtext {
        padding-top: 0.5rem;
    }

    .tag {
        color: #FFF;
        font-family: DM Sans;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .p-color {
        color: #9279FF;
        font-family: DM Sans;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .timedis {
        font-size: 2.65rem;
    }

    .timep {
        text-align: center;
        padding-bottom: 2rem;
    }

    .width45 {
        width: 100%;
    }
}

@keyframes InUp {
    0% {
        top: 5%;
    }

    

    50% {
        top: 90%;
    }

    

    100% {
        top: 5%;
    }
}


@media screen and (max-width:1200px) and (min-width:768px) {
    .headtext{
        width: 95% !important;
    }

    .small-head-prnt {
        padding-top: 0.5rem !important;
        width: 95% !important;
        padding-bottom: 0.5rem !important;
    }

    .width45.otherone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timep {
        padding-bottom: 0.5rem !important;
    }

    .subdiv {
        opacity: 0;
        width: 31% !important;}
}

@keyframes way {
    
    0% {
        opacity: 1 ;
    }

    50% {
        opacity: 0.5 ;
    }

    100% {
        opacity: 0.25;
    }
}