.process {
    color: #000;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.processimgparent {
    text-align: center;
    width: 100%;
}
.processimg{
    width: 90%;
}

.works {
    color: #12FF46;
    font-family: DM Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

img.arrowsecond {
    width: 100%;
    margin-top: 30%;
}

.blackarrow {
    width: 100%;
}

.arrow {
    width: 19%;
}


.green {
    width: 8%;
}

.ornge {
    color: #D37556;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.disc {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.disprnt,
.orngeprnt {
    text-align: center;
}

.text-prnt {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 20%;
}

.anyyt {
    justify-content: space-between;
}

.green svg {
    width: 100%;
}

@media screen and (max-width:480px) {

    .processimgparent {
        justify-content: center;
        display: flex;
        /* text-align: center; */
        width: 100%;
        height: 90%;
        align-items: center;
    }

    .processimg {
        height: 90%;
        width: 90%;
    }

    .random,
    .anyyt {
        flex-direction: column;
    }

    .flexcontainerprnt {
        display: flex;
        justify-content: space-between;
    }

    .random {
        width: 25%;
        justify-content: start !important;
    }

    .anyyt {
        width: 70%;
    }

    .green,
    .arrow {
        width: 100%;
    }

    .text-prnt {
        width: 100%;
    }



    .arrow {
        height: 17%;
    }



    .green {
        height: 10%;
    }

    .blackarrow {
        width: 7rem;
        height: 1.06238rem;
        transform: rotate(90deg);
        flex-shrink: 0;

    }

    .ornge {
        color: #D37556;
        font-family: DM Sans;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .disc {
        color: #000;
        font-family: DM Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .green svg{
        height: 100%;
    }
}