.process {
    color: #000;
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.processimgparent {
    text-align: center;
    width: 100%;
}

.processimg {
    width: 90%;
}

.works {
    color: #9279FF;
    font-family: DM Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

img.arrowsecond {
    width: 100%;
    margin-top: 30%;
}

.blackarrow {
    width: 100%;
}

.arrow {
    width: 19%;
}


.green {
    width: 8%;
}

.ornge {
    color: #D37556;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.disc {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.disprnt,
.orngeprnt {
    text-align: center;
}

.text-prnt {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 20%;
}

.anyyt {
    justify-content: space-between;
}

.green svg {
    width: 100%;
}

@media screen and (max-width:480px) {

    .processimgparent {
        justify-content: center;
        display: flex;
        /* text-align: center; */
        width: 100%;
        height: 90%;
        align-items: center;
    }

    .processimg {
        height: 90%;
        width: 90%;
    }

    .random,
    .anyyt {
        flex-direction: column;
    }

    .flexcontainerprnt {
        display: flex;
        justify-content: space-between;
    }

    .random {
        width: 25%;
        justify-content: start !important;
    }

    .anyyt {
        width: 70%;
    }

    .green,
    .arrow {
        width: 100%;
    }

    .text-prnt {
        width: 100%;
    }



    .arrow {
        height: 17%;
    }



    .green {
        height: 10%;
    }

    .blackarrow {
        width: 7rem;
        height: 1.06238rem;
        transform: rotate(90deg);
        flex-shrink: 0;

    }

    .ornge {
        color: #D37556;
        font-family: DM Sans;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .disc {
        color: #000;
        font-family: DM Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .green svg {
        height: 100%;
    }
}

.main-process-prnt{
    align-items: center;
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.purplecircle {
    width: 9%;
    padding: 2vh 4vw;
    background-color: #9279FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  1s ease;
}

.purplecircle .number{
    color: #000;
    margin-bottom: 0;
    color: #000;
font-family: Nunito;
font-size: 4rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.arrowprntprocess {
    width: 20%;
}

.fristarrow{
    width: 100%;
}

.purplecircle:hover{
 background-color: #D37556;
}

.purplecircle:hover .number{
       color: #fff;
   }

   @media screen and (max-width:480px) {

    .main-process-prnt{
        flex-direction: column;
        height: 90%;
        align-items: center;
        flex-direction: column;
    }

    .proc {
        width: 25%;
    }

    .purplecircle {
        height: 9%;
         width: 100%;}

         .arrowprntprocess {
            display: flex;
            height: 20%;
            width: auto;
            justify-content: center;
        }

        .text-prnt {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .purplecircle .number{
            font-size: 2rem;
        }

        
    
    
   }



