.uperhead{
    padding-top: 1.69rem;
    color: #FFF;
    font-family: DM Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;}

   .lowerhead{color: #12FF46;
    font-family: DM Sans;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;} 

    .subdiv{
     width: 26%;
        background-color: #2D4048;
        padding: 2rem 2rem 5rem 3rem;
        border-radius: 7%;
    }

    .ongrr{color: #D37556;
        font-family: DM Sans;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;}

        .black{
            color: #FFF;
font-family: DM Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
        }

        body{
            background-color: #011E11;;
        }

        .scrollprnt{
            justify-content: space-evenly;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .orngehead{
            text-align: center;
        }

        .blackext{
            text-align: center;
        }

        @media only screen and (max-width: 1024px) {
            .scrollprnt {
                justify-content: flex-start;
              display: flex;
              flex-wrap: nowrap;
              overflow-x: auto;
              -webkit-overflow-scrolling: touch;
            }
            


          
            .subdiv {
                flex: 0 0 90%;
              margin-right: 1rem; 
            }
        }