 .wrrp{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin: 0;
    background-color: #f1f1f1;
  }
  .login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  .otp-input {
    display: none;
  }
  .submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
  }
  .submit-btn.active {
    opacity: 1;
  }
  .hover-effect:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #phoneInput{
    width: 90%;
  }

  .heading{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
  }

  