.blank {
    background-color: #000;
    ;
}

.heading {
    color: #9279FF;
    font-family: DM Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.imgprnt {
    padding-left: 0;
}

.companyname {
    color: #D37556;
    font-family: DM Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.headquater-txt {
    margin: 0;
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.address-txt {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.emaillike {
    color: #D37556;
    font-family: DM Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.number {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.margindis {
    margin-bottom: 0;
}

.greenupdate {
    border-radius: 1.5rem;
    background: #9279FF;
    text-align: center;
}

.updatetext {
    color: #FFF;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


.parentnydiv {
    padding: 0 !important;
    justify-content: space-between;
}

.lftprnt {

    width: 30%;
}

.rgtprnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.leftone {
    width: 30%;
}

.head {
    padding-top: 1rem;
}

.gacsvg {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.ttyr {
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .imgprnt {
        padding-left: 1rem;
    }

    .parentnydiv {
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem !important;
    }

    .lftprnt {
        width: 100%;
    }

    .rgtprnt {
        gap: 2rem;
        width: 100%;
    }

    .headquater {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 480px) {

    .leftone {
        width: 47%;
    }
}