.parent {
    background-color: #000;
    padding-left: 4rem;
    padding-right: 4rem
}

.small-head-prnt {
    padding-top: 3rem;
    width: 33%;
    padding-bottom: 3rem;
}

.timep {
    padding-bottom: 3rem;
}

.p-color {
    color: #9279FF;
    font-family: DM Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.headtext {
    padding-top: 2rem;
    width: 65%
}

.tag {
    color: #FFF;
    font-family: DM Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.smll {
    color: #FFF;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.timedis {
    color: #D37556;
    font-family: Inter;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.scan-prnter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 3.25rem;
    border-radius: 3.75rem;
    background: #9279FF;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.topauthprnt {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strt {
    color: #FFF;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

.width45 {
    width: 48%;
}

.dotes {
    width: 100%;
}


.scanner {
    top: 35%;
    position: absolute;
    left: 37%;
    width: 25%;
}

.logo-parent {
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 9.37725rem;
    height: 3.45475rem;

}

.width55 {
    width: 55%;
    padding-bottom: 1rem;
}

.logo-parent>img {
    width: 100%;
}

@media screen and (max-width:768px) {

    .parent {
        background-color: #000;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .gap30 {
        flex-direction: column;
    }

    .width55 {
        width: 100%;
        text-align: center;
    }

    .headtext {
        width: 100%;
    }

    .small-head-prnt {
        padding-top: 1rem;
        width: 100%;
        padding-bottom: 0rem;
    }

    .headtext {
        padding-top: 0.5rem;
    }

    .tag {
        color: #FFF;
        font-family: DM Sans;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .p-color {
        color: #9279FF;
        font-family: DM Sans;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .timedis {
        font-size: 2.65rem;
    }

    .timep {
        text-align: center;
        padding-bottom: 2rem;
    }

    .width45 {
        width: 100%;
    }
}


.scannerone {
    width: 25%;
    position: absolute;
    top: 38%;
    left: 38%;
}


.merge-parent {
    position: relative;
}

.lineprnt {
    top: 0;
    position: absolute;
    left: 6%;
    width: 80%;
    /* width: 100%; */
    animation: InUp 4s ease-in-out infinite;
}

img.lineclass {
    width: 100%;
}

@keyframes InUp {
    0% {
        top: 5%;
    }

    

    50% {
        top: 90%;
    }


    100% {
        top: 5%;
    }
}

img.landingscaner {
    width: 100%;
    position: relative;
}




.OTP {
    color: #000;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
}

.mobileinputprnt.d-flex {
    border-radius: 2.5rem;
    border: 1px solid #D37556;
    background: #FFF;
    width: 21.875rem;
    justify-content: space-around;
    height: 2.875rem;
    margin-left: auto;
    margin-right: auto;
}

.leftotpprnt {
    display: flex;
    gap: 32%;
}

.canwejust{
    justify-content: space-between;
}

.mobilenumberprnt {
    gap: 5%;
    width: 21.875rem;
    height: 2.875rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

p.mobilenumbertextchild {
    margin-bottom: 0;
    color: #FFF;
font-family: DM Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.showpassword,.absolprnt  {
    cursor: pointer;
}



.otpbutnprnt {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.numbermobile {
    border: 0;
    border-radius: 2.5rem;
}


@media screen and (max-width:480px) {

    .width55.canweotherone {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .absolprnt{
        margin-top: 3.5rem;
    }

    .mobileinputprnt.d-flex,.mobilenumberprnt{
        width: 100% ;
    }
    
}
.mobileinputprnt.d-flex.letsgetthis {
    justify-content: initial;
}

.leestfinal{margin-left: 10%;}

@media screen and (min-width:480px) and (max-width:768px){
    .width55.canweotherone {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    .absolprnt{
        margin-top: 3.5rem;
        width:21.875rem;
    }
    
}


  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}